.chart_bar {
    width: 100%;
    height: 220px !important;
    padding: 20px;
    background-color: #fff;
}
.chart_buttons_active {
    background-color: #fff !important;
    border: none !important;
    padding: 10px !important;
    /* margin-left: 5px !important; */
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-size: 11px !important;
    color: #6600ee !important;
    font-weight: 600 !important;
}
.left {
    width: 50%;
}
.right {
	width: 42%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.chart_wrap_container {
	display: flex;
	/* width: 100%; */
	justify-content: space-between;
    align-items: center;
    /* height: 315px; */
}
.pie_bar canvas {
	height: 200px !important;
	/* background: #fff; */
}
.chart_nav {
    display: flex;
}
.chart_buttons {
	/* font-size: 11px !important;
	padding: 5px !important; */
    background-color: rgb(211, 211, 211) !important;
    border: none !important;
    padding: 10px !important;
    margin-left: 4px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-size: 11px !important;
    color: #000 !important;
    font-weight: 600 !important;
}
.chart_wrap {
	margin: 35px 0 !important;
}