.slider_wrap {
    width: 90%;
    margin: 20px auto;
    margin-top: 10px !important;
}
.card_icon {
    background-color: #fff;
    width: 30px;
    text-align: center;
    padding: 0 !important;
}
.card1 {
	display: flex;
	align-items: center;
	width: 21%;
	justify-content: space-between;
	/* padding: 10px; */
	background-color: #f7f7f7;
	padding: 0 14px;
	margin: 3px 0;
}
.cards_icons {
    margin: 0;
    background: #bebebe;
    padding: 4px;
    border-radius: 6px;
}
.slider_content {
	display: flex;
    justify-content: space-around;
    width: 100%;
}
.slider_main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.left_card {
    display: flex;
    align-items: center;
}
.cards_name {
    width: 50px;
    font-size: 12px;
    margin-left: 10px;
}
.left_slide_btn {
	background-color: #767676 !important;
	color: #fff !important;
	font-weight: 700 !important;
	border: none !important;
	border-radius: 20px !important;
	position: relative !important;
	right: 12px !important;
	top: 14px !important;
	padding: 0 4px !important;
	height: 26px !important;
}
.right_slide_btn {
	background-color: #6600ee !important;
	color: #fff !important;
	font-weight: 700 !important;
	border: none !important;
	border-radius: 20px !important;
	position: relative !important;
	top: 14px !important;
	left: 12px !important;
	padding: 0px 5px !important;
	height: 26px !important;
}
.right_slide_btn:hover {
    background-color: #d8b103;
}
.number {
    color: #6600ee;
}