.footer_wrap {
	height: 13%;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.footer_content {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.foot_wrap {
	display: flex;
	align-items: center;
	width: 22%;
	justify-content: space-between;
}
.folder {
    color: #6600ee;
    font-weight: 600;
}
.freeze {
    color: #6600ee;
    font-weight: 600;
}
.foot {
	width: 52px;
	justify-content: space-between;
	display: flex;
	background-color: #eaeaea;
	padding: 5px;
}